{
  "openapi": "3.1.0",
  "info": {
    "title": "RFQ Webhook API - Market Maker Standard",
    "description": "Solana tabanlı RFQ sağlayıcıları için yüksek performanslı ve güvenli Webhook API standardı. Bu spesifikasyon, Quote alma ve Swap yürütme işlemlerini kapsar.",
    "version": "1.0.0",
    "contact": {
      "name": "Market Maker Destek",
      "url": "https://zksync.io/"
    }
  },
  "servers": [
    {
      "url": "https://api.marketmaker.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/quote": {
      "post": {
        "tags": ["Quoting"],
        "summary": "Teklif Al (Get Quote)",
        "operationId": "getQuote",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Başarılı Teklif",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "429": { "$ref": "#/components/responses/RateLimitError" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/swap": {
      "post": {
        "tags": ["Execution"],
        "summary": "Takası Gerçekleştir (Execute Swap)",
        "operationId": "executeSwap",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SwapRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap Durumu",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SwapResponse" }
              }
            }
          },
          "400": { "description": "Geçersiz Transaction Verisi" },
          "410": { "description": "Quote Süresi Doldu (Expired)" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Webhook güvenliği için Market Maker tarafından sağlanan gizli anahtar."
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "API Anahtarı geçersiz veya eksik.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "RateLimitError": {
        "description": "Çok fazla istek gönderildi."
      },
      "InternalError": {
        "description": "Sunucu tarafında beklenmedik hata."
      }
    },
    "schemas": {
      "QuoteRequest": {
        "type": "object",
        "required": ["requestId", "quoteId", "tokenIn", "tokenOut", "amount"],
        "properties": {
          "requestId": { "type": "string", "format": "uuid" },
          "quoteId": { "type": "string", "format": "uuid" },
          "tokenIn": { "type": "string", "description": "Solana Mint Address (Base58)" },
          "tokenOut": { "type": "string", "description": "Solana Mint Address (Base58)" },
          "amount": { "type": "string", "pattern": "^[0-9]+$", "example": "250000000" },
          "feeBps": { "type": "integer", "minimum": 0, "maximum": 10000, "default": 0 }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "required": ["quoteId", "amountOut", "maker"],
        "properties": {
          "quoteId": { "type": "string", "format": "uuid" },
          "amountOut": { "type": "string", "pattern": "^[0-9]+$" },
          "maker": { "type": "string", "description": "MM Public Key" },
          "prioritizationFeeToUse": { "type": "integer", "format": "int64", "minimum": 0 }
        }
      },
      "SwapRequest": {
        "type": "object",
        "required": ["requestId", "quoteId", "transaction"],
        "properties": {
          "requestId": { "type": "string", "format": "uuid" },
          "quoteId": { "type": "string", "format": "uuid" },
          "transaction": { "type": "string", "description": "Base64 Encoded Solana Transaction" }
        }
      },
      "SwapResponse": {
        "type": "object",
        "required": ["state"],
        "properties": {
          "state": { "type": "string", "enum": ["accepted", "rejected"] },
          "rejectionReason": { "type": "string", "nullable": true }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "code": { "type": "integer" }
        }
      }
    }
  }
}
